@using Microsoft.AspNetCore.Identity
@using Netflex.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="https://www.gravatar.com/avatar/" class="rounded-circle" height="30" alt="Avatar">
            </a>

            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end p-0" aria-labelledby="dropdownMenuButton">
                @if (User.IsInRole("admin"))
                {
                    <li class="dropdown-item">
                        <a href="/admin" class="text-base nav-link">Dashboard</a>
                    </li>
                }
                <li class="dropdown-item">
                    <form class="form-inline" asp-area="identity" asp-page="/account/logout"
                        asp-route-returnUrl="@Url.Action("index", "home", new { area = "" })">
                        <button id="logout" type="submit" class="btn-text text-base">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item ps-2">
            <a id="login" asp-area="identity" asp-page="/account/login">Login</a>
        </li>
    }
</ul>
