@model Netflex.Models.Dashboard.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Phim lẻ hôm nay</p>
                        <h6 class="mb-0 fw-bold">@Model.TodayFilms</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Phim bộ hôm nay</p>
                        <h6 class="mb-0 fw-bold">@Model.TodaySeries</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa-solid fa-rss text-primary fa-3x"></i>
                    <div class="ms-3">
                        <p class="mb-2">Bài viết hôm nay</p>
                        <h6 class="mb-0 fw-bold">@Model.TodayBlogs</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-user fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Online User</p>
                        <h6 class="mb-0 fw-bold">@Model.OnlineUsers</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0 fw-bold">Thông kê đăng phim</h6>
                    </div>
                    <canvas id="monthly-media-uploads"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0 fw-bold">Thông kê đăng bài viết</h6>
                    </div>
                    <canvas id="monthly-blog-uploads"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/chart/chart.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/dashboard/media",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var ctx1 = $("#monthly-media-uploads").get(0).getContext("2d");
                var myChart1 = new Chart(ctx1, {
                    type: "bar",
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "Film",
                            data: data.filmData,
                            backgroundColor: "rgba(0, 156, 255, .7)"
                        },
                        {
                            label: "Serie",
                            data: data.serieData,
                            backgroundColor: "rgba(0, 156, 255, .5)"
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/dashboard/blog-statics",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var ctx1 = $("#monthly-blog-uploads").get(0).getContext("2d");
                var myChart1 = new Chart(ctx1, {
                    type: "line",
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "Blog",
                            data: data.data,
                            backgroundColor: "rgba(0, 156, 255, .7)",
                            fill: true
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
            }
        });
    });

</script>