.poster {
    box-shadow: 0 10px 15px -7px rgb(0 0 0);
    background: 0 0;
    float: left;
    width: 140px;
    height: 200px;
    object-fit: cover;
}
.breadcrumb-item {
    font-size: 0.9rem !important;
}
.date{
    font-weight: 500;
    color: rgba(255, 255, 255, .28);
}

.rating-stars i {
    color: #258cfb;
    cursor: pointer;
    font-size: 0.8rem;
}
.my-ratings{
    color: whitesmoke; 
    width: 120px;
    background-color: rgba(255, 255, 255, .2);
}
.points {
    background: rgba(255, 255, 255, .08);
    color: whitesmoke; 
    width: 4rem;
    height: 4rem;
}

.genres a {
    color: #fff;
    border-left: solid 1px rgba(255, 255, 255, .08);
    float: left;
    padding: 0 10px;
    font-weight: 500;
}
.genres a:first-child {
    padding-left: 0;
    border-left: 0;
}

.tab{
    padding: 6px 12px;
    color: #fff;
}
.persons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem; 
}

.person{
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    max-width: 100%;
}

.person:hover {
  color: white;
}
  
.person img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.comment-section {
    background: rgba(255, 255, 255, 0.9);
}


.fb-comments-wrapper {
    color: white;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.follow-btn {
    color: whitesmoke; 
    padding: 1rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    border: none;
    background: transparent;
}


.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.img-6x9 {
    width: 100%;          
    aspect-ratio: 2 / 3; 
    object-fit: cover;  
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 9998;
}

.login-popup {
    display: none;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 80%;
    max-width: 400px;
    min-width: 300px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.popup-content {
    color: white;
    background-color: rgb(90, 90, 90);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.btn-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4270d4;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #2d4373;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}


