.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.img-6x9 {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.vertical-line {
    width: 3.2px;
    height: 24px;
    background-color: #00aaff;
}

.pagination .page-item.active .page-link {
    background: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .5);
    border: 1px solid;
  }
  
.pagination .page-link {
    color: white;
    background: rgba(0, 0, 0, .1);
    border: 1px solid;
    border-radius: 0;
    border-color: rgba(0, 0, 0, .5);
}
  
.disabled{
    display: none;
}

.image-movie{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.movie-banner{
    height: 120px;
}