.vertical-line {
    width: 3.2px;
    height: 24px;
    background-color: #00aaff;
}
.pagination .page-item.active .page-link {
    background: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .5);
    border: 1px solid;
}

.pagination .page-link {
    color: white;
    background: rgba(0, 0, 0, .1);
    border: 1px solid;
    border-radius: 0;
    border-color: rgba(0, 0, 0, .5);
}

.disabled{
    display: none;
}

.notification{
    background: rgba(0, 0, 0, .3);
    padding: 1rem;
    margin: 0.5rem;
}