.vertical-line {
    width: 3.2px;
    height: 24px;
    background-color: #00aaff;
}


.home-blog-post {
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.list-items-blogs .home-blog-post:last-child {
    border-bottom: 0;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    font-size: 12px;
    padding: 5px 10px;
}

.img-6x9 {
    width: 100%;          
    aspect-ratio: 2 / 3; 
    object-fit: cover;  
}

.carousel-indicators {
    position: absolute;
    bottom: -50px; 
    left: 50%;
    transform: translateX(-120%);
    z-index: 10;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #007bff;
}


.navigation-buttons i {
    cursor: pointer; 
}

.navigation-buttons i:hover {
    color: #f8f9fa;
}

.movie-banner-content{
    text-shadow: 0 0 10px #000;
}

.movie-banner img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: top;
}

.content-items {
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, .08);
}

.movie-item .position-relative {
    overflow: hidden;
}

.movie-item .position-relative img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.movie-item .position-relative i {
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.movie-item:hover .position-relative img {
    transform: scale(1.2); 
    filter: blur(2px);
}

.movie-item:hover .position-relative i {
    opacity: 1; 
}


.carousel-inner{
    overflow: visible !important;
}

.movie-banner {
    transition: transform 0.3s ease-in-out;
    z-index: 1; 
}

.movie-banner:hover {
    transform: scale(1.05);
    z-index: 10;
}