@model Netflex.Entities.Actor
@{
    Layout = "_AdminLayout";
}
<h2>Thông tin diễn viên</h2>
<p><strong>Tên:</strong> @Model.Name</p>
@if (!string.IsNullOrEmpty(Model.Photo))
{
    <p><img src="@Model.Photo" alt="Ảnh diễn viên" width="200" /></p>
}
<p><strong>Tiểu sử:</strong> @Model.About</p>

<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
