@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
}

<hr />
<div class="container">
    <div class="row ">
        <div
            class="position-absolute py-5 px-5 top-50 start-50 translate-middle col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 shadow-lg rounded bg-my-dark text-white-50">
            <div class="text-center">
                <h1>@ViewData["Title"]</h1>
                <p class="text-center">Bạn nhớ mật khẩu?
                    <a asp-page="./Login" class="text-white fw-bold">Đăng nhập ngay</a>
                </p>
            </div>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <label asp-for="Input.Email" class="form-label fw-bold"></label>
                <div class="mb-4">
                    <input asp-for="Input.Email" class="form-control form-control-xs" autocomplete="username"
                        placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-md btn-dark fw-bold">Lấy Lại Mật Khẩu</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
