@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
}

<hr />
<div class="container">
    <div class="row ">
        <div
            class="position-absolute py-5 px-3 top-50 start-50 translate-middle col-12 col-sm-10 col-md-8 col-lg-4 shadow-lg rounded-3 ">
            <div class="text-center">
                <h1>@ViewData["Title"]</h1>
                <p class="text-center">Remember your password?
                    <a asp-page="./Login" class="text-black fw-bold">Login here</a>
                </p>
            </div>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <label asp-for="Input.Email" class="form-label text-black fw-bold"></label>
                <div class="mb-4">
                    <input asp-for="Input.Email" class="form-control form-control-xs" autocomplete="username"
                        placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-md btn-dark fw-bold">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
