@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row ">
        <div
            class="position-absolute py-5 px-5 top-50 start-50 translate-middle col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 shadow-lg rounded bg-my-dark text-white-50">
            <section>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="text-center">Chào Mừng Đến Netflex.
                    </h2>
                    <p class="text-center">Bạn đã có tài khoản?
                        <a asp-page="./Login" class="text-white fw-bold">Đăng nhập</a>
                    </p>

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <label asp-for="Input.Email" class="form-label fw-bold"></label>
                    <div class="mb-3">
                        <input asp-for="Input.Email" class="form-control form-control-xs rounded-3"
                            autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <label asp-for="Input.Password" class="form-label fw-bold">Mật khẩu</label>
                    <div class="mb-3">
                        <input asp-for="Input.Password" class="form-control form-control-xs"
                            autocomplete="current-password" aria-required="true" placeholder="***********" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <label asp-for="Input.ConfirmPassword" class="form-label fw-bold">Nhập lại mật khẩu </label>
                    <div class="mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-xs" aria-required="true"
                            placeholder="***********" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-md btn-dark fw-bold">ĐĂNG KÍ NGAY</button>
                    @* <div class="d-flex justify-content-between">
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <p>
                            <a id="forgot-password" class="text-black" asp-page="./ForgotPassword">Forgot your
                                password?</a>
                        </p>
                    </div> *@


                    <div class="d-flex align-items-center">
                        <hr class="flex-grow-1">
                        <span class="mx-2 text-secondary">Or</span>
                        <hr class="flex-grow-1">
                    </div>


                    @* <div>

                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                                confirmation</a>
                        </p>
                    </div> *@
                </form>
            </section>
            <form asp-controller="ExternalAuth" asp-action="ExternalLogin" method="post">
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                <button type="submit" name="provider" value="Google"
                    class="w-100 btn btn-md btn-light rounded fw-bold my-2">
                    <i class="fa-brands fa-google mx-2"></i>
                    <span class="me-2">Đăng nhập với Google</span>
                </button>
            </form>

            <form asp-controller="ExternalAuth" asp-action="ExternalLogin" method="post">
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                <button type="submit" name="provider" value="Facebook"
                    class="w-100 btn btn-md btn-light rounded fw-bold mt-2">
                    <i class="fa-brands fa-facebook mx-2"></i>
                    <span class="me-2">Đăng nhập với Facebook</span>
                </button>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
