@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<hr />
<div class="container">
    <div class="row ">
        <div
            class="position-absolute py-5 px-5 top-50 start-50 translate-middle col-12 col-sm-10 col-md-8 col-lg-4 shadow-lg rounded-3 bg-my-dark text-white-50">
            <div class="text-center">
                <h2>Reset your password</h2>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <label asp-for="Input.Password" class="form-label fw-bold"></label>

                <div class="mb-3">
                    <input asp-for="Input.Password" class="form-control form-control-xs" autocomplete="new-password"
                        aria-required="true" placeholder="***************" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <label asp-for="Input.ConfirmPassword" class="form-label fw-bold"></label>

                <div class="mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-xs"
                        autocomplete="new-password" aria-required="true" placeholder="***************" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-md btn-dark fw-bold">Reset</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
