.modal-content {
    border-radius: 0.5rem;
    background-color: rgba(61, 61, 61, 0.7) !important;
}

.modal-header {
    background-color: rgba(61, 61, 61, 0.7) !important;
}
.close {
    background-color: rgba(0, 0, 0, 0.7);
}
