@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  font-size: 14px;
}

.font-inter{
  font-family: "Inter", Helvetica, Arial, sans-serif !important;
}

body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth; 
}

body {
  margin-bottom: 60px;
  background-color: #424040;
}
ul {
  list-style-type: none; 
  padding-left: 0;
}

a {
  text-decoration: none;
}

.text-sm{
  font-size: 0.8rem !important;
}
.text-smm{
  font-size: 0.9rem !important;
}
.text-xs{
  font-size: 0.7rem !important;
}
.text-md{
  font-size: 1.2rem !important;
}
.text-base{
  font-size: 1rem !important;
}
.text-white-70{
  color: #d9d9d9 !important;
}
.text-white-smoke{
  color: whitesmoke !important;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
  font-weight: bold;
}

.video-container {
  width: 100%; 
  max-width: 100%; 
  aspect-ratio: 16 / 9; 
  background: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.dropdown-menu-dark {
  background: rgba(0, 0, 0, .98);
}
.dropdown-item{
  color: rgba(255, 255, 255, .6) !important;
  font-size: 0.9rem !important;
}
.dropdown-item:hover{
  color: whitesmoke !important;
}

.btn-text {
  text-decoration: none;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, .55);
  padding: .5rem;
  width: 100%;
  text-align: left;
}

.search-box {
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
  padding: 0 0.6rem;
}
.search-icon{
  border: none;
  color: whitesmoke;
  background: transparent;
}

.btn-transparent{
  border: none !important;
  background-color: transparent !important;
}

.search {
  background: transparent;
  padding: 0.4rem;
  border: 0;
  border-radius: 5px;
  color: #fff;
}

.bg-my-dark{
  background-color: rgba(15, 15, 15, .9);
}

.search:focus {
  border: none !important;
  outline: none !important;
}

.modal-content{
  background-color: rgb(28, 28, 28);
}

.modal-header, .modal-footer{
  border: none !important;
}

.hover-blur {
  transition: filter 0.3s ease-in-out;
}

.hover-blur:hover {
  filter: blur(5px); 
}


.border-line {
  border-color: rgba(255, 255, 255, .08) !important;
}